{% extends "layout.html" %}
{% block content %}
    <h1>My Schedule</h1>
    <div>
        <ul class="list-group">
            {% if not schedule %}
                <h4>You have no upcoming concerts scheduled.
                    <a href="{{url_for('home')}}">Search for a concert and add one to your schedule!</a>
                </h4>
            {% else %}
                {% for event in schedule %}
                    <li class="list-group-item">{{ event[1] }} 
                        <br> Date: {{ event[3] }} 
                        <br> Location: {{ event[4] }}
                        <br> Tickets: <a target="_blank" href="{{event[2]}}">{{ event[2] }}</a>
                        <br> 
                        <form action="#" method="POST">
                            <input type="submit" value="Share on Twitter">
                        </form>
                {% endfor %}
            {% endif %}
        </ul>
    </div>
{% endblock content %}